<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Toronto Pedestrian Accidents</title>

<!-- Include Leaflet library -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
  <!-- Your Leaflet map container -->
  <div id="map"></div>

  <!-- Dropdown for selecting year -->
  <select id="yearDropdown">
    <!-- Options for years will be dynamically added using JavaScript -->
  </select>

  <!-- Your D3 line graph container -->
  <div id="lineGraph"></div>

  <!-- Include your JavaScript files at the end -->
  <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
</body>
</html>
